<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--For impoting excel to specific path-->
  <appSettings>
    <add key="PortalUrl" value="~/Portal/"/>
  </appSettings>
  
  
  <system.webServer>
  <defaultDocument>
    <files>
      <clear />
      <add value="~/Portal/Index.aspx" />
    </files>
  </defaultDocument>
</system.webServer>
  
  
  <!--ROLE 1 - INITIATOR
  
  ROLE 2 - FINANCE APPROVAL
  
  ROLE 3 - CEO APPROVAL
  
  ROLE 4 - MD APPROVAL
  
  ROLE 5 - ACCOUNTS VIEW
  
  ROLE 6 - ADMINISTRATOR-->
  

    
  <location path="UserInterface/InitiateRequest.aspx">    <!--INITITOR PAGE ACCESS-->
    <system.web>
      <authorization>

        <allow roles="1"/>
        <deny users="*"/>

      </authorization>
    </system.web>
  </location>
  
  
  <location path="UserInterface/ApprovalsList.aspx">      <!--APPROVAL PAGE ACCESS TO FINANCE APP AND CEO APP ONLY-->
    <system.web>
      <authorization>

        <allow roles="2,3"/>
        <deny users="*"/>

      </authorization>
    </system.web>
  </location>
  
  
  <location path="UserInterface/CEOApproval.aspx">      <!--CEO APPROVAL PAGE ACCESS TO CEO ONLY-->
    <system.web>
      <authorization>

        <allow roles="3"/>
        <deny users="*"/>

      </authorization>
    </system.web>
  </location>
  
   <location path="UserInterface/FinanceApproval.aspx">      <!--FINANCE APPROVAL PAGE ACCESS TO FINANCE CONTROLLER ONLY-->
    <system.web>
      <authorization>

        <allow roles="2"/>
        <deny users="*"/>

      </authorization>
    </system.web>
  </location>
  
  
   <location path="UserInterface/Master/UserProfile.aspx">      <!--ADMINISTRATOR ACCESS ONLY-->
    <system.web>
      <authorization>

        <allow roles="6"/>
        <deny users="*"/>

      </authorization>
    </system.web>
  </location>
 
  
  <location path="UserInterface/Master/UserProfile_New.aspx">      <!--ADMINISTRATOR ACCESS ONLY-->
    <system.web>
      <authorization>

        <allow roles="6"/>
        <deny users="*"/>

      </authorization>
    </system.web>
  </location>


  <location path="ErrorPage.aspx">
    <system.web>
      <authorization>

        <allow users="?"/>
        

      </authorization>
    </system.web>
  </location>
    


  <system.web>

    <!--authorize/authenticate code-->

    <authentication mode="Forms">
      <forms defaultUrl="~/Portal/Home.aspx" loginUrl="~/Portal/Index.aspx" slidingExpiration="true" timeout="9880"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>




    <!--<"USED FOR DATE FORMAT ERROR IN WEB PAGES " />-->
    <customErrors mode="Off" />
    <globalization uiCulture="en" culture="en-GB" responseEncoding="utf-8" requestEncoding="utf-8" />


    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        -->
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <!--
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>









  <connectionStrings>
    <add name="mycon" connectionString="Data Source=CANDY-PC;Initial Catalog=e-Approval;User ID=sa;Password=sql@2012" providerName="System.Data.SqlClient"/>


    <!--<add name="myconold" connectionString="Data Source=KZNDXB05-VIJAY;Initial Catalog=STOCKMANAGEMENTSYSTEM_OLD;User ID=sa;Password=sql@2012" providerName="System.Data.SqlClient"/>-->


  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>