body {
	font-family: 'Lato', 'Arial', sans-serif;
	background: #ddd url(../Images/BodyBg.png);
	font-weight: 300;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
}




/*Strip the ul of padding and list styling*/
 ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
    width:1350px;
   
	background: #87b1d4;
	
	
background: -webkit-linear-gradient(-90deg, #87b1d4, #45769f);
}

ul li ul{
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	width:auto;
	
	
}



/*Create a horizontal list with spacing*/
li {
    display:inline-block;
	float: left;
	
	
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family:bold;
	color: #fff;
	background: #87b1d4;
	text-decoration: none;
	margin-left: 1px;
	background: -webkit-linear-gradient(-90deg, #87b1d4, #45769f);
}

/*Hover state for top level links*/
li:hover a {
	background: #d6dbdf;
	display:block;
	color:#0d5087;
	
	
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #a8b1b8;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
	text-align:left;
	font-size:bold;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

.dropdown 
{
color: #555;
margin: 3px -22px 0 0;
width: 210px;
position: relative;
height: 38px;
text-align:left;
margin-left:1180px;
margin-top:0px;
background-color:#3a5795;


        }

        
.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 200px;
display: none;
margin-left: 10px;
padding: 48px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);

}
.dropdown li a 
{
    
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
a.account 
{
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 150px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}

.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 13px 0 0 0px;
border-top:1px solid #dedede;
}


.well-small {
    padding: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}